.footer {
  height: 50px;
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  @media (max-width: 768px) {
    height: auto;
    padding: 1rem;
    text-align: center;
  }
}
